@import '~normalize.css';
@import 'roboto.css';

body {
  font-family: 'Roboto', sans-serif;
  background-color: #000;
  color: white;
}
.container {
  padding-top: 2rem;
  max-width: 1000px;
  margin: 0 auto;
  background: url('../images/logo.svg') center no-repeat;

  h1 {
    text-align: center;
  }
}
