@import '~normalize.css';
@import 'fonts.css';

$white: #fff;
$bg-gradient: linear-gradient(
  316.53deg,
  rgb(38, 255, 242) 13.2%,
  rgb(50, 108, 255) 71.54%
);
$bg-gradient-safe: rgb(50, 108, 255);

html {
  font-size: 10px;
}

body {
  font-family: 'Mulish', sans-serif;
  background-color: #000;
  color: white;
  font-size: 1.8rem;
}

button {
  &:focus {
    outline: none;
  }
}
.container {
  max-width: 144rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  margin: 0 auto;
}

.header {
  display: flex;
  // justify-content: space-between;
  // align-items: center;
  max-width: 144rem;
  max-height: 7rem;
  margin: 0 auto;
  padding: 1.5rem;
}

.header a > img {
  display: block;
}

.header nav {
  margin-left: 36.7rem;
}

.nav {
  margin: 0;
  margin-top: 2.5rem;
  display: flex;
  align-items: center;
  list-style: none;
  padding-left: 0;

  &-item {
    margin-right: 5.4rem;
  }
  &-item:last-child {
    margin-right: 0;
  }
  &-link {
    font-size: 16px;
    font-weight: 700;
    color: rgba($white, 0.5);
    text-decoration: none;

    &:hover {
      color: rgba($white, 1);
      transition: 0.2s ease color;
    }

    &.active {
      color: rgba($white, 1);
      position: relative;
      &::after {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        bottom: -0.8rem;
        display: block;
        height: 0.2rem;
        margin-top: 0.5rem;
        background: $bg-gradient-safe;
        background: $bg-gradient;
        border-radius: 5rem;
      }
    }
  }
}

.control {
  margin-left: auto;
  display: flex;
  align-items: center;
  list-style: none;
  padding-left: 0;

  &-item {
    margin-left: 7.5rem;
  }
  &-item:first-child {
    margin-left: 0;
  }

  &-btn {
    background-color: transparent;
    border: none;
    display: block;
    background-repeat: no-repeat;
    background-size: cover;

    &_search {
      background: url('../images/header/search.svg') center;
      width: 1.8rem;
      height: 1.8rem;
    }
    &_notice {
      background: url('../images/header/notice.svg') center;
      width: 2.13rem;
      height: 2.35rem;
    }
    &_account {
      background: url('../images/header/account.svg') center;
      width: 1.8rem;
      height: 1.92rem;
    }
  }
}

.section {
  &__title {
    font-size: 2.8rem;
    line-height: 2rem;
    font-weight: 700;
    position: relative;
    margin-bottom: 4.7rem;

    &::before {
      content: '';
      position: absolute;
      top: calc(50% - 2rem);
      left: -0.4rem;
      display: block;
      width: 0.8rem;
      height: 3.5rem;
      background: $bg-gradient-safe;
      background: $bg-gradient;
      border-radius: 5rem;
    }

    &-link {
      color: $white;

      text-decoration: none;
      padding-left: 1.4rem;
      padding-right: 1.9rem;
      position: relative;
      &::after {
        content: '';
        position: absolute;
        right: 0;
        top: calc(50% - 0.5rem);
        width: 9px;
        height: 9px;
        border-top: 2px solid $white;
        border-right: 2px solid $white;
        transform: rotate(45deg);
      }
    }
  }
}

.section-banner {
  border-bottom: 0.2rem solid #2f2e2e;
  margin-bottom: 6.9rem;
}

.container-banner {
  position: relative;
  align-items: center;
  min-height: 76.5rem;

  &_image {
    position: absolute;
    display: block;
    right: -6rem;
    top: 0;
    z-index: -1;
  }
}

.banner {
  position: absolute;
  max-width: 55.9rem;
  top: 0;
  bottom: 0;
  left: 0;
  padding-left: 1.6rem;
  // padding-right: 2.9rem;
  // height: 100%;
  margin-right: 2.9rem;
  padding-top: 12.1rem;
  background: #010101;
  box-shadow: 100px 0px 100px #000000;

  &-title {
    font-family: 'Marcellus', serif;
    font-weight: 400;
    font-size: 8rem;
    line-height: 7rem;
    margin: 0;
  }

  &-info {
    font-weight: 800;
    font-style: normal;
    font-size: 1.6rem;
    line-height: 1rem;
    margin-bottom: 3.2rem;
    margin-top: 5.6rem;

    &_year {
      margin-right: 1.5rem;
    }
    &_age {
      margin-right: 1.8rem;
      display: inline-block;
      position: relative;
      width: 6rem;
      text-align: center;
      &::before {
        content: '';
        display: block;
        position: absolute;
        top: calc(50% - 1.2rem);
        left: 0;
        right: 0;
        width: 100%;
        height: 2.4rem;
        background: url('../images/ageBorder.svg') no-repeat;
        background-size: cover;
      }
    }
    &_time {
      margin-right: 5rem;
    }
    &_rating {
      &::after {
        content: '';
        display: inline-block;
        width: 1.6rem;
        height: 1.5rem;
        background-image: url('../images/star.svg');
        background-repeat: no-repeat;
        background-size: cover;
        margin-left: 1.1rem;
      }
    }
  }
  &-text {
    font-size: 1.8rem;
    line-height: 2.8rem;
    color: #c2c2c2;
    font-weight: 400;
    margin-right: 5.3rem;
    margin-left: 0.2rem;
  }
  &-control {
    margin-top: 3.4rem;
    &_btn {
      background-color: transparent;
      border: none;
      border-radius: 10rem;
      padding: 1.5rem 3rem;
      font-family: 'Mulish', sans-serif;
      font-weight: 800;
      font-size: 1.6rem;
      line-height: 2rem;
      cursor: pointer;
    }
    .btn-play {
      background: $bg-gradient-safe;
      background: $bg-gradient;
      color: $white;
      box-shadow: 0px 4px 50px rgba($bg-gradient-safe, 0.5);
      transition: 0.2s ease all;

      &:hover {
        box-shadow: none;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }

      &::before {
        content: '';
        display: block;
        width: 1.4rem;
        height: 1.8rem;
        float: left;
        background-image: url('../images/playBannerControl.svg');
        background-repeat: no-repeat;
        background-size: cover;
        margin-right: 1.5rem;
      }
    }
    &_btn-info {
      background-color: $white;
      color: #323232;
      margin-left: 2.2rem;
      transition: 0.2s ease all;

      &:hover {
        background-color: transparent;
        color: $white;
      }
    }
  }
}

.movies {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 4rem;

  &-item {
    flex: 0 0 calc((100% / 6) - 8rem);
    box-shadow: none;
    transition: 0.2s ease all;

    &:hover {
      box-shadow: 0px 4px 25px 10px #26fff2;
      background-color: rgba(38, 255, 242, 0.62);
    }
  }
  &__img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    object-fit: cover;
    border-radius: 2.1rem;
  }

  &__link {
    display: block;
    position: relative;
    width: 20.6rem;
    height: 30.9rem;
  }
}
