footer 
  .footer 
    a(href="#")
      img(src="./assets/images/logo.svg", alt="Logo")
    ul.footer-nav
      li.footer-nav-item 
        a(href="#").nav-link Voice over and Subtitle
      li.footer-nav-item 
        a(href="#").nav-link Media Center
      li.footer-nav-item 
        a(href="#").nav-link Privacy
      li.footer-nav-item 
        a(href="#").nav-link Contact us
    ul.footer-nav
      li.footer-nav-item 
        a(href="#").nav-link Voice Description
      li.footer-nav-item 
        a(href="#").nav-link Investor Relations
      li.footer-nav-item 
        a(href="#").nav-link Legal Provisions
    ul.footer-nav
      li.footer-nav-item 
        a(href="#").nav-link Help Center
      li.footer-nav-item 
        a(href="#").nav-link Job Opportunities
      li.footer-nav-item 
        a(href="#").nav-link Cookies Preferences      
    ul.footer-nav
      li.footer-nav-item 
        a(href="#").nav-link Gift Cards
      li.footer-nav-item 
        a(href="#").nav-link Terms of Use
      li.footer-nav-item 
        a(href="#").nav-link Corporate Informations

            