- var pageTitle = 'TW Show'

doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="icon" href="favicon.ico" type="image/ico")
    title= pageTitle
  body 
    include ../includes/modules/header
    
    section.section-banner 
      .container.container-banner
        img(src="./assets/images/banner.jpg" alt="Banner").container-banner_image 
        .banner
          h1.banner-title Zack Snyder's Justice League
          .banner-info 
            span.banner-info_year 2021
            span.banner-info_age 18+
            span.banner-info_time 4h 2min
            span.banner-info_rating 8.8
          p.banner-text Determined to ensure Superman's ultimate sacrifice was not in vain, Bruce Wayne aligns forces with Diana Prince with plans to recruit a team of metahumans to protect the world from an approaching threat of catastrophic proportions.
          .banner-control 
            button.banner-control_btn.btn-play Watch
            button.banner-control_btn.banner-control_btn-info More information
    section.section
      .container
        h2.section__title 
          a(href="#").section__title-link Trending Movies
        .movies 
          .movies-item 
            a(href="#").movies__link
              img(src="./assets/images/movie_1.jpg", alt="Movie After").movies__img
          .movies-item 
            a(href="#").movies__link
              img(src="./assets/images/movie_2.jpg", alt="Movie After").movies__img
          .movies-item 
            a(href="#").movies__link
              img(src="./assets/images/movie_3.jpg", alt="Movie After").movies__img
          .movies-item 
            a(href="#").movies__link
              img(src="./assets/images/movie_4.jpg", alt="Movie After").movies__img
          .movies-item 
            a(href="#").movies__link
              img(src="./assets/images/movie_5.jpg", alt="Movie After").movies__img
          .movies-item 
            a(href="#").movies__link
              img(src="./assets/images/movie_6.jpg", alt="Movie After").movies__img


    
    include ../includes/modules/footer