- var pageTitle = 'TW Show'

doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="icon" href="favicon.ico" type="image/ico")
    title= pageTitle
  body 
    include ../includes/modules/header
    
    //- section.section-banner 
    //-   .container.container-banner
    //-     .banner
    //-       h1.banner-title Zack Snyder's Justice League
    //-       .banner-info 
    //-         span.banner-info_year 2021
    //-         span.banner-info_age 18+
    //-         span.banner-info_time 4h 2min
    //-         span.banner-info_rating.rating 8.8
    //-       p.banner-text Determined to ensure Superman's ultimate sacrifice was not in vain, Bruce Wayne aligns forces with Diana Prince with plans to recruit a team of metahumans to protect the world from an approaching threat of catastrophic proportions.
    //-       .banner-control 
    //-         button.btn.banner-control__play Watch
    //-         button.btn.banner-control__info More information
    //-     .container-banner_image
    //-       img(src="./assets/images/banner.jpg" alt="Banner") 
    section.section.section__movies
      .container
        h2.section__title 
          a(href="movie.html?id=460465").section__title-link Trending Movies
        .movies 
          //- .movies-item 
          //-   a(href="#").movies__link
          //-     h3.movies__title Movie After kek lol azz check lkhog ovo
          //-     .movies__img
          //-       img(src="./assets/images/movie_1.jpg", alt="Movie After")
          //-       .movies__info.active-link 
          //-         span.movies__info-year 2020
          //-         span.movies__info-rating.rating 1
          //-         p.movies__info-overview Ему предстоит выяснить, является ли происходящее божественным провидением или Алисой управляют зловещие силы.
          //- .movies-item 
          //-   a(href="#").movies__link
          //-     img(src="./assets/images/movie_2.jpg", alt="Movie After").movies__img
          //- .movies-item 
          //-   a(href="#").movies__link
          //-     img(src="./assets/images/movie_3.jpg", alt="Movie After").movies__img
          //- .movies-item 
          //-   a(href="#").movies__link
          //-     img(src="./assets/images/movie_4.jpg", alt="Movie After").movies__img
          //- .movies-item 
          //-   a(href="#").movies__link
          //-     img(src="./assets/images/movie_5.jpg", alt="Movie After").movies__img
          //- .movies-item 
          //-   a(href="#").movies__link
          //-     img(src="./assets/images/movie_6.jpg", alt="Movie After").movies__img
        button.btn See more
    section.section.section__genres
      .container
        h2.section__title 
          a(href="#").section__title-link Popular Genres
        .genres 
          .genres-item.genres-item__romance
            a(href="#").genres__link
              img(src="./assets/images/genre_1.svg", alt="Romance").genres__img
              h3 Romance
          .genres-item.genres-item__drama 
            a(href="#").genres__link
              img(src="./assets/images/genre_2.svg", alt="Drama").genres__img
              h3 Drama
          .genres-item.genres-item__historical
            a(href="#").genres__link
              img(src="./assets/images/genre_3.svg", alt="Historical").genres__img
              h3 Historical
          .genres-item.genres-item__action
            a(href="#").genres__link
              img(src="./assets/images/genre_4.svg", alt="Action").genres__img
              h3 Action
          .genres-item.genres-item__sci-fi 
            a(href="#").genres__link
              img(src="./assets/images/genre_5.svg", alt="Sci-fi").genres__img
              h3 Sci-fi
          .genres-item.genres-item__horror
            a(href="#").genres__link
              img(src="./assets/images/genre_6.svg", alt="Horror").genres__img
              h3 Horror
          .genres-item.genres-item__comedy 
            a(href="#").genres__link
              img(src="./assets/images/genre_7.svg", alt="Comedy").genres__img
              h3 Comedy
          .genres-item.genres-item__documentary 
            a(href="#").genres__link
              img(src="./assets/images/genre_8.svg", alt="Documentary").genres__img
              h3 Documentary
    section.section.section__regist
      .container
        .regist
          .regist-title 
            h2 Are You New Here ?&nbsp; Don’t Wait, Register Now.
          button.btn Register Now     
          

    
    include ../includes/modules/footer