doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="icon" href="favicon.ico" type="image/ico")
    title
  body 
    include ../includes/modules/header
    section.section.section__movies
      .container.container__category
        .category
          .ul.sort
            li.sort-item 
              a(href="#").sort-item__link.active Movies
            li.sort-item 
              a(href="#").sort-item__link TV
            li.sort-item 
              a(href="#").sort-item__link 
            li.sort-item 
              a(href="#").sort-item__link TV
            li.sort-item 
              a(href="#").sort-item__link TV
        .movies 
          .movies-item 
            a(href="#").movies__link
              h3.movies__title Movie After
              .movies__img
                img(src="./assets/images/movie_1.jpg", alt="Movie After")
                .movies__info.active-link 
                  span.movies__info-year 2020
                  span.movies__info-rating.rating 1
                  p.movies__info-overview Ему предстоит выяснить, является ли происходящее божественным провидением или Алисой управляют зловещие силы.
          .movies-item 
            a(href="#").movies__link
              h3.movies__title Movie After
              .movies__img
                img(src="./assets/images/movie_1.jpg", alt="Movie After")
                .movies__info.active-link 
                  span.movies__info-year 2020
                  span.movies__info-rating.rating 1
                  p.movies__info-overview Ему предстоит выяснить, является ли происходящее божественным провидением или Алисой управляют зловещие силы.
          .movies-item 
            a(href="#").movies__link
              h3.movies__title Movie After
              .movies__img
                img(src="./assets/images/movie_1.jpg", alt="Movie After")
                .movies__info.active-link 
                  span.movies__info-year 2020
                  span.movies__info-rating.rating 1
                  p.movies__info-overview Ему предстоит выяснить, является ли происходящее божественным провидением или Алисой управляют зловещие силы.
          .movies-item 
            a(href="#").movies__link
              h3.movies__title Movie After
              .movies__img
                img(src="./assets/images/movie_1.jpg", alt="Movie After")
                .movies__info.active-link 
                  span.movies__info-year 2020
                  span.movies__info-rating.rating 1
                  p.movies__info-overview Ему предстоит выяснить, является ли происходящее божественным провидением или Алисой управляют зловещие силы.
          .movies-item 
            a(href="#").movies__link
              h3.movies__title Movie After
              .movies__img
                img(src="./assets/images/movie_1.jpg", alt="Movie After")
                .movies__info.active-link 
                  span.movies__info-year 2020
                  span.movies__info-rating.rating 1
                  p.movies__info-overview Ему предстоит выяснить, является ли происходящее божественным провидением или Алисой управляют зловещие силы.
          .movies-item 
            a(href="#").movies__link
              h3.movies__title Movie After
              .movies__img
                img(src="./assets/images/movie_1.jpg", alt="Movie After")
                .movies__info.active-link 
                  span.movies__info-year 2020
                  span.movies__info-rating.rating 1
                  p.movies__info-overview Ему предстоит выяснить, является ли происходящее божественным провидением или Алисой управляют зловещие силы.
          .movies-item 
            a(href="#").movies__link
              h3.movies__title Movie After
              .movies__img
                img(src="./assets/images/movie_1.jpg", alt="Movie After")
                .movies__info.active-link 
                  span.movies__info-year 2020
                  span.movies__info-rating.rating 1
                  p.movies__info-overview Ему предстоит выяснить, является ли происходящее божественным провидением или Алисой управляют зловещие силы.
          .movies-item 
            a(href="#").movies__link
              h3.movies__title Movie After
              .movies__img
                img(src="./assets/images/movie_1.jpg", alt="Movie After")
                .movies__info.active-link 
                  span.movies__info-year 2020
                  span.movies__info-rating.rating 1
                  p.movies__info-overview Ему предстоит выяснить, является ли происходящее божественным провидением или Алисой управляют зловещие силы.
          .movies-item 
            a(href="#").movies__link
              h3.movies__title Movie After
              .movies__img
                img(src="./assets/images/movie_1.jpg", alt="Movie After")
                .movies__info.active-link 
                  span.movies__info-year 2020
                  span.movies__info-rating.rating 1
                  p.movies__info-overview Ему предстоит выяснить, является ли происходящее божественным провидением или Алисой управляют зловещие силы.
          .movies-item 
            a(href="#").movies__link
              h3.movies__title Movie After
              .movies__img
                img(src="./assets/images/movie_1.jpg", alt="Movie After")
                .movies__info.active-link 
                  span.movies__info-year 2020
                  span.movies__info-rating.rating 1
                  p.movies__info-overview Ему предстоит выяснить, является ли происходящее божественным провидением или Алисой управляют зловещие силы.
          .movies-item 
            a(href="#").movies__link
              h3.movies__title Movie After
              .movies__img
                img(src="./assets/images/movie_1.jpg", alt="Movie After")
                .movies__info.active-link 
                  span.movies__info-year 2020
                  span.movies__info-rating.rating 1
                  p.movies__info-overview Ему предстоит выяснить, является ли происходящее божественным провидением или Алисой управляют зловещие силы.