doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="icon" href="favicon.ico" type="image/ico")
    title
  body 
    include ../includes/modules/header
    section.section
      .container.container-sort
        .category
          a(href="#").category-item.active Movies
          a(href="#").category-item TV
        .sort.active 
          .sort-selected 
            span топ по рейтингу
          .sort-list 
            p.current топ по рейтингу
            p по дате
            p по просмотрам
            
    section.section.section__movies
      .container        
        .movies 
          .movies-item 
            a(href="#").movies__link
              h3.movies__title Movie After
              .movies__img
                img(src="./assets/images/movie_1.jpg", alt="Movie After")
                .movies__info.active-link 
                  span.movies__info-year 2020
                  span.movies__info-rating.rating 1
                  p.movies__info-overview Ему предстоит выяснить, является ли происходящее божественным провидением или Алисой управляют зловещие силы.
          .movies-item 
            a(href="#").movies__link
              h3.movies__title Movie After
              .movies__img
                img(src="./assets/images/movie_1.jpg", alt="Movie After")
                .movies__info.active-link 
                  span.movies__info-year 2020
                  span.movies__info-rating.rating 1
                  p.movies__info-overview Ему предстоит выяснить, является ли происходящее божественным провидением или Алисой управляют зловещие силы.
          .movies-item 
            a(href="#").movies__link
              h3.movies__title Movie After
              .movies__img
                img(src="./assets/images/movie_1.jpg", alt="Movie After")
                .movies__info.active-link 
                  span.movies__info-year 2020
                  span.movies__info-rating.rating 1
                  p.movies__info-overview Ему предстоит выяснить, является ли происходящее божественным провидением или Алисой управляют зловещие силы.
    section.section.pagination
      .container
        .pagination-nav
          span Раньше
          span 1
          a(href='#') 2
          a(href='#') 3
          a(href='#') 4
          a(href='#') 5
          a(href='#') Позже
    include ../includes/modules/footer
          
        