@import '~normalize.css';
@import 'roboto.css';

body {
  font-family: 'Roboto', sans-serif;
  height: 100vh;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 1) 33%,
    rgba(0, 0, 255, 1) 33%,
    rgba(0, 0, 255, 1) 66%,
    rgba(255, 255, 255, 1) 66%,
    rgba(255, 255, 255, 1) 100%
  );
}

.container {
  padding-top: 2rem;
  max-width: 1000px;
  margin: 0 auto;
  background: url('../image/logo.svg') center no-repeat;

  h1 {
    text-align: center;
  }
}
